{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@controllers": "./src/controllers",
          "@libs": "./src/libs",
          "@models": "./src/models",
          "@routes": "./src/routes",
          "@utils": "./src/utils",
          "@middleware": "./src/middlewares"
        }
      }
    ]
  ]
}
